#Home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home__Card {
  margin: 15px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .Home__Card {
    width: 50%;
  }
}
