.ReviewTrade__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.ReviewTrade__buttons {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ReviewTrade__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .ReviewTrade__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.ReviewTrade__buttons {
  margin: 8px;
}
